# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Environment variables (VERY IMPORTANT)
.env

# Mac system files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Output files
*.json

recipe_images
processing-data/synthetic_recipe_images
vectorDB-index/chroma_db
*.zip