# Bytecode and cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
env/
venv311/

# Environment variables
.env

# System files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Data and outputs
recipe_images/
synthetic_recipe_images/
chroma_db/
vectorDB-index/chroma_db/
**/chroma_db/
**/chroma_db/**/*.bin
**/chroma_db/**/*.sqlite3
**/chroma_db/**/*.pkl
processing-data/synthetic_recipe_images/
*.zip
*.json
structured_restaurant_data.json
augmented-user-review.json
Synthetic-User-Reviews.json
Recipes.json

# Ignore test artifacts
test_outputs/